doctype html

html
    head
        title Download

br
.main-content
html
    <form action="/centdownload" method="post" name=name enctype="multipart/form-data">
    <input hidden type=text value=!{tokenID} name='name' />
    <input type="submit" value="Download" />
    </form>

br
