doctype html

html
    head
        title Download

br

html
    <form action="/download" method="post" name=name enctype="multipart/form-data">
    <input hidden type=text value=!{tokenID} name='name' />
    <input type="submit" />
    </form>


