include header

.main-content
br
html
    <body>
    <form>
    <button formaction="centkml" formmethod="get" >KML centroid generator</button>
    <p>
    </p>
    <button formaction="kmlcsv" formmethod="get" >KML to CSV converter</button>
    <p>
    </p>
    <button formaction="kmlsubset" formmethod="get" >KML strings --> subset generator</button>
    <p>
    </p>
    </form>
    </body>