<!DOCTYPE html>

<body>

<form>
    <button formaction="CENTKML" formmethod="get" >KML centroid generator</button>
    <p>
    </p>
    <button formaction="DEM2STL" formmethod="get" >Raster to STL converter</button>
    <p>
    </p>
    <button formaction="KML2CSV" formmethod="get" >KML to CSV converter</button>
    <p>
    </p>
    <button formaction="KML2SHP" formmethod="get" >KML to SHP converter</button>
    <p>
    </p>
    <button formaction="KMLSUBSET" formmethod="get" >KML strings --> subset generator</button>
    <p>
    </p>
    <button formaction="default" formmethod="get"  >Shiny Geyser App</button>

</form>

</body>
</html>
