include header

.main-content
br
html
    <body>
    <form>
    <button formaction="centkml" formmethod="get" >KML centroid generator</button>
    <p>
    </p>
    <button formaction="dem2stl" formmethod="get" >Raster to STL converter</button>
    <p>
    </p>
    <button formaction="kml2csv" formmethod="get" >KML to CSV converter</button>
    <p>
    </p>
    <button formaction="kml2shp" formmethod="get" >KML to SHP converter</button>
    <p>
    </p>
    <button formaction="kmlsubset" formmethod="get" >KML strings --> subset generator</button>
    <p>
    </p>
    <button formaction="default" formmethod="get"  >Shiny Geyser App</button>
    </form>
    </body>