
doctype html

html
    head
        link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css", rel="stylesheet", integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k", crossorigin="anonymous")

header
    h1 KML Tools Home

.main-content

br

html
    <body>

    <form>
    <button formaction="CENTKML" formmethod="get" >KML centroid generator</button>
    <p>
    </p>
    <button formaction="DEM2STL" formmethod="get" >Raster to STL converter</button>
    <p>
    </p>
    <button formaction="KML2CSV" formmethod="get" >KML to CSV converter</button>
    <p>
    </p>
    <button formaction="KML2SHP" formmethod="get" >KML to SHP converter</button>
    <p>
    </p>
    <button formaction="KMLSUBSET" formmethod="get" >KML strings --> subset generator</button>
    <p>
    </p>
    <button formaction="default" formmethod="get"  >Shiny Geyser App</button>

    </form>

    </body>